*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo__box {
    padding: 10rem 30rem;
    border: solid #000 2px;
    max-width: 100rem;
    margin: 10rem auto 10rem;
    /* margin-top: 10rem; */
    border-radius: 20px;
    background-color: rgb(23, 89, 165);
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px #000;
}

.heading-primary {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.heading-secondary {
    font-size: 2.5rem;
    text-align: center;
}

.todo__list {
    display: block;    
}

.form button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 250ms ease-out;
}

.form-button-post{
    background-color: #333;
    color: #fff;
    margin-right: 2rem;
}

.form-button-post:hover {
    background-color: #444;
}

.form-button-delete {
    background-color: #fff;
}

.form-button-delete:hover {
    background-color: rgb(214, 214, 214);
}

.todo-input {
    /* max-width: rem; */
    border: none;
    border-radius: 8px;
    font-size: 2rem;;
    resize: none;
}

.list--list {
    padding: 2rem 20rem;
    border: solid #000 2px;
    list-style: square;

}

.list-item {
    font-size: 1.8rem;
    display: block;
}

.del-btn {
    background-color: #333;
    color: #fff;
    border: none;
    margin-left: 1rem;;
    padding: .5rem .75rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms ease;
}

.del-btn:hover {
    background-color: #444;
}

@media (max-width: 1100px) {
    .todo__box {
        padding: 7.5rem 20rem;
        max-width: 75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .todo__box {
        padding: 5rem 15rem;
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 2rem;
    }
    .todo-input {
        max-width: 30rem;
        font-size: 1.6rem;

    }
}

@media (max-width: 500px) {
    .heading-primary{
        font-size: 2.5rem;
        width: 20rem;
    }

    .todo__box {
        padding: 3rem 10rem;
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 2rem;
    }
    .todo-input {
        max-width: 25rem;
        font-size: 1.6rem;

    }

    .list--list {
        padding: 2rem 5rem;

    }
    
    .list-item {
        font-size: 1.6rem;
        display: block;
    }
}